:root {
    --main-red: #F51414;
    --alt-red: #ff6347;
    --maroon: #b40404;
    --highlight-red: #c30707;
    --main-gray: #F2F2F2;
    --alt-gray: #1c1c1c;
    --alt-gray-highlight: #313131;
    --gray-1: #A4A4A4;
    --gray-2: #F2F2F2;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: 'Bebas Neue', sans-serif;
}

body {
  width: 100vw;
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: 'Bebas Neue', sans-serif;
  background-color: var(--main-gray);
  overflow-x: hidden;
} 

.nav-section {
  position: absolute;
  width: 100vw;
}

.navbar /* nav container */ {
  background-color: none;
  list-style-type: none;
}

.container-0 {
  margin-top: 20px;
}

.navbar .container-0 .navbar-brand /* logo container */ {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  padding: 10px 1.5rem;
  margin-right: 5%;
}

button.navbar-toggler {
  border: none; 
  outline: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
  height: 30px;
}

.toggler-icon {
  width: 40px;
  height: 2px;
  background-color: var(--maroon);
  display: block;
  transition: all 0.4s;
}

.middle-bar {
  margin: 10px auto;
}

.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 5% 5%;
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0)
}

.navbar-toggler.collapsed .toggler-icon {
  background-color: var(--maroon);
}

button.navbar-toggler:active {
  outline: none;
  box-shadow: none;
}

/* nav items */

.navbar-nav {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  margin-right: 1rem;
  width: auto;
}

.navbar-collapse .navbar-nav .nav-item .nav-link {
  text-decoration: none;
  color: var(--main-red);
  font-size: 1.75rem;
  margin: 0 1rem; 
  padding: 1rem 1rem;   
  font-weight: bold; 
  transition: 0.2s ease-in-out;
  text-align: center;
  text-wrap: nowrap;
}

.nav-item-2 {
  display: none;
}

.hidden {
  display: none;
}

.navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  color: var(--highlight-red);
}

.navbar-text {
  margin-left: 2vw;
  background: none;
  z-index: 1;
}

.collapse .navbar-text .log-in {
  font-size: 1.75rem;
  padding: 1.5rem 2rem 1.5rem 0;
  margin-left: 2vw;
  margin-right: 2vw;
  text-decoration: none;
  position: relative;
  color: var(--main-red);
  text-wrap: nowrap;
  font-weight: bold;
}

.collapse .navbar-text .fa-solid {
  position: absolute;
  bottom: 17px;
  right: 8px; 
  transition: right 0.3s ease; 
}

.collapse .navbar-text .log-in:hover {
  color: var(--main-red); 
}

.collapse .navbar-text .log-in:hover .fa-solid {
  color: var(--main-red);
  right: 0;
  cursor: pointer;
}

.become-member {
  background-color: var(--maroon);
  color: white !important;
  text-decoration: none;
  text-wrap: nowrap;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  box-shadow: 0 8px 10px 0 rgba(180, 4, 4, 0.2);
  font-weight: normal;
  font-size: 1.75rem;
  transition: all .2s ease-in-out;
}

.become-member:hover {
  background-color: var(--highlight-red);
}

.section-1 {
	height: 55vh;
	padding-bottom: 20px;
  background-image: url('../Photos/schedule-bg-2.png');
	background-size: cover;
	background-position: center center;
}

#container-1 {
  padding-top: 130px;

}

#schedule-header-container h1 {
	font-size: 8rem;
	color: var(--maroon);
	font-family: "Bebas Neue", sans-serif;
  font-weight: bold;
}

#schedule-paragraph-container p {
  font-size: 2.25rem;
  color: var(--alt-gray-highlight);
  font-family: "Bebas Neue", sans-serif;
}

#phone-hand-img {
  height: 30%;
}

.section-2 {
	height: 135vh;
  min-height: auto;
  background: linear-gradient(var(--main-gray) 80%, var(--gray-1));
}

.dropdown .btn {
  background-color: var(--maroon);
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 1.75rem;
  white-space: nowrap;
  box-shadow: 0 8px 10px 0 rgba(180, 4, 4, 0.2);
  transition: all .2s ease-in-out;
  padding: 1rem;
  font-weight: bold;
  margin-top: 20px;
}

.dropdown .btn:hover {
  color: white;
  background-color: var(--highlight-red);
}

.dropdown .dropdown-menu {
  background-color: white;
  box-shadow: 2px 2px 4px var(--gray-1);
  font-size: 1.5rem;
  font-family: "Be Vietnam", sans-serif;
  border: none;
  border-radius: 10px;
  padding: 1rem;
}

#calendar-container {
	display: flex;
	font-display: row;
	width: 200vw;
	transition: 0.5s ease-in-out;
	padding-bottom: 20px;
	padding-top: 20px;
}

.weekday-container,
.weekend-container {
	display: flex;
	font-display: row;
	width: 100vw;
	justify-content: center;
}

.weekday-container {
	justify-content: center;
}

.calendar-column {
	width: 20%;
	margin: 3px;
	border-radius: 10px;
}

.calendar-block {
	border-radius: 5px;
	height: 175px;
	margin-top: 5px;
	background-color: white;
  box-shadow: 2px 2px 7px var(--gray-1);
}

.calendar-header-container {
	background-color: #d9d9d9;
	padding: 0.75rem;
	border-radius: 5px;
  margin-bottom: 5px;
  box-shadow: 2px 2px 4px var(--gray-1);
	display: flex;
	justify-content: center;
	align-items: center;
}

.fa-circle {
  position: relative;
  right: 10rem;
  color: var(--main-red);
}

.calendar-header-container h1 {
	font-family: "Bebas Neue", sans-serif;
	font-size: 2.25rem;
	margin: 0;
}

.calendar-time-container,
.calendar-subtitle-container,
.calendar-description-container {
	padding-left: 10px;
}

.calendar-time-container h2 {
	font-family: "Bebas Neue", sans-serif;
	font-size: 5rem;
	color: var(--alt-gray-highlight);
}

.calendar-subtitle-container h3 {
	font-family: "Bebas Neue", sans-serif;
	font-size: 2rem;
	color: var(--maroon);
}

.calendar-description-container p {
	font-family: "Be Vietnam", sans-serif;
	font-size: 1.5rem;
	color: black;
	width: 90%;
}

.custom-button {
	height: 45px;
	width: 45px;
	background-color: #d9d9d9;
  box-shadow: 2px 2px 4px var(--gray-1);
  border: none;
	border-radius: 10px;
  z-index: 3;
}

.custom-button:active {
	background-color: var(--gray-2);
}

.fa-chevron-right,
.fa-chevron-left {
	pointer-events: none;
	font-size: 2rem;
}

.mobile-btn {
  display: none;
}

/* Footer */

footer {
  height: 30vh;
  background-color: var(--alt-gray-highlight);
}

#important-info-1 {
  display: flex;
  flex-direction: column;
}

#important-info-1 a,
#important-info-2 a,
#socials a {
  color: white;
  font-size: 2rem;
  text-decoration: none;
  font-family: "Be Vietnam", sans-serif;
}

@media (max-width: 1800px) {
  .section-1 {
    height: 80vh;
  }

  .section-2 {
    height: 200vh;
    min-height: auto;
    background: linear-gradient(var(--main-gray) 80%, var(--gray-1));
  }

  footer {
    height: 40vh;
  }
}

@media (max-width: 1200px) {

  .navbar-text {
    margin-left: 1vw;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .navbar .container-0 .navbar-brand /* logo container */ {
    margin-right: 1%;
  }

  .collapse .navbar-text .fa-solid {
    display: none;
    margin-left: 0;
    margin-right: 0;
  }

  .become-member {
    background-color: var(--maroon);
    color: white;
    text-decoration: none;
    text-wrap: nowrap;
    padding: 0.75rem;
    border-radius: 10px;
    box-shadow: 0 8px 10px 0 rgba(180, 4, 4, 0.2);
    font-weight: normal;
    font-size: 1.5rem;
    transition: all .2s ease-in-out;
    margin-left: 1px;
  }

  .section-1 {
    height: 50vh;
  }

  .section-2 {
    height: 130vh;
    min-height: auto;
    background: linear-gradient(var(--main-gray) 80%, var(--gray-1));
  }

  footer {
    height: 30vh;
  }
}

@media (max-width: 992px) {

  body {
    overflow-x: hidden;
  }

  body.no-scroll {
    overflow-y: hidden;
  }

  .navbar {
    background-color: var(--main-gray);
    max-height: 130vh;
    width: 100vw;
    background-color: none;
    z-index: 100;
  }
  
  .navbar .container-0 .navbar-brand /* logo container */ {
    background: none;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    border-radius: 0;
    border: none;
    box-shadow: none;
    padding: 10px 1.5rem;
    margin-right: 5%;
    background-color: none;
  }
  
  button.navbar-toggler {
    border: none; 
    outline: none; 
    background: none;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    border-radius: 10px;
    box-shadow: none;
    padding: 0 1.5rem;
  }

  .navbar-nav {
    background: none;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    border-radius: 0;
    border: none;
    box-shadow: none;
    margin-bottom: 0;
    margin-top: 5px;
    height: 100vh;
  }

  .navbar-collapse .navbar-nav .nav-item .nav-link {
    text-decoration: none;
    color: var(--maroon);
    font-size: 7rem; 
    font-family: "Bebas Neue", sans-serif; 
    font-weight: bold; 
    text-align: start;
    text-wrap: nowrap;
    padding: 0;
    margin: 0 0 0 15px;
    text-shadow: 1px 1px 1px var(--alt-gray);
    opacity: 0;
    transition: opacity 0.7s ease;
    background-color: none;
    background: none;
  }

  .nav-item-2 {
    display: block;
  }

  #log-in-mobile a,
  #join-us-mobile a {
    color: var(--alt-gray-highlight);
  }

  .navbar-collapse.show .navbar-nav .nav-item .nav-link {
    opacity: 1;
  }

  .navbar-text,
  .become-member,
  .log-in {
    display: none;
  }

  .section-1 {
    height: auto;
    padding-bottom: 20px;
    background-image: url('../Photos/schedule-bg-2.png');
    background-size: cover;
    background-position: center center;
  }

  .container-1 {
    height: auto;
  }

  #phone-hand-img {
    max-height: 100vh;
    transform: translateX(25vw);
  }

  .section-2 {
    height: auto;
    overflow-x: hidden;
  }
  
  #calendar-container {
    width: 200vw;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  
  .weekday-container,
  .weekend-container {
    display: flex;
    font-display: row;
    width: 100vw;
    justify-content: center;
  }

  #phone-hand-img {
    display: none;
  }

  .calendar-block {
    height: 190px;
  }

  .calendar-description-container p {
    line-height: 1.25;
    width: 90%;
  }

  footer {
    height: auto;
    padding-bottom: 30px;
    background-color: var(--alt-gray-highlight);
  }
}

@media (max-width: 768px) {

  .navbar-brand img {
    height: 20px;
  }

  #phone-hand-img {
    max-height: 350px;
  }

  .section-2 {
    height: auto;
  }

  #calendar-container {
    /* border: 2px solid pink; */
    width: 700vw;
    padding-top: 0;
  }
  
  .weekday-container,
  .weekend-container {
    display: flex;
    font-display: row;
    /* border: 2px solid red; */
    width: 300vw;
    justify-content: center;
  }
  
  .weekday-container {
    justify-content: center;
    width: 400vw;
  }
  
  .calendar-column {
    width: 100vw;
    margin: 5px 30px;
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(0);
    transition: transform 0.5s ease-in-out; 
  }
  
  .calendar-block {
    height: 200px;
    width: 80%;
    margin-top: 10px;
  }
  
  .calendar-header-container {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-gray);
    box-shadow: none;
  }

  .calendar-header-container h1 {
    background-color: #d9d9d9;
    padding: 1rem 10rem;
    border-radius: 5px;
    box-shadow: 2px 2px 4px var(--gray-1);
    margin: 0 20px;
  }
  
  .fa-circle {
    position: relative;
    right: 26rem;
    color: var(--main-red);
  }
  
  .calendar-header-container h1 {
    font-size: 3rem;
  }
  
  .calendar-time-container h2 {
    font-size: 7rem;
  }
  
  .calendar-subtitle-container h3 {
    font-size: 4rem;
  }
  
  .calendar-description-container p {
    font-size: 2rem;
    width: 60%;
  }

  #buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

  }
  
  .fa-chevron-right,
  .fa-chevron-left {
    pointer-events: none;
    font-size: 2rem;
  }

  .custom-button {
    display: none;
  }

  .mobile-btn {
    display: block;
    margin: 20px 10px 0 10px;
    height: 40px;
    width: 40px;
    background-color: #d9d9d9;
    box-shadow: 2px 2px 4px var(--gray-1);
    border: none;
    border-radius: 5px;
  }

  .mobile-btn-left.inactive {
    pointer-events: none;
    color: white;
  }

  .mobile-btn:active {
    box-shadow: none;
  }

}

@media (max-width: 576px) {

  body {
    overflow-x: hidden;
  }

  .row {
    max-width: 100vw;
  }

  .navbar-collapse {
    flex: 1;
    overflow-y: auto;
    max-height: 100dvh;
  }

  /* .navbar-nav {
    backdrop-filter: 0;
    -webkit-backdrop-filter: 0;
    border-radius: 0;
    border: none;
    box-shadow: none;
    margin-bottom: 0;
    margin-top: 5px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0);
  } */

  .navbar-collapse .navbar-nav .nav-item .nav-link {
    margin-left: 10px;
    font-size: 7rem;
    margin-bottom: -10%;
  }

  #img-container {
    padding: 0;
  }

  #phone-hand-img {
    max-height: 80vh;
    transform: translateX(2vw);
  }

  .calendar-column {
    width: 100vw;
    margin: 5px 0;
  }

  .calendar-block {
    margin-top: 5px;
  }

  .calendar-header-container h1 {
    padding: 1rem 7rem;
    margin: 0 10px;
  }
  
  .fa-circle {
    right: 22rem;
  }
  
  .calendar-time-container h2 {
    font-size: 5rem;
  }
  
  .calendar-subtitle-container h3 {
    font-size: 3rem;
  }
  
  .calendar-description-container p {
    font-size: 2rem;
    width: 80%;
  }
}

@media (max-width: 350px) {
/* 
  .navbar-collapse {
    flex: 1;
    overflow-y: auto;
    max-height: 100dvh;
  } */

  /* #phone-hand-img {
    max-height: 200px;
  } */
}
